.page-header {
  min-height: 950px;
  width: 100%;
  background: url('../img/page-header-bg.jpg') no-repeat scroll;
  background-size: cover;

  &__device {
    float: right;
    width: 716px;
    height: 918px;
    position: relative;
    background: url('../img/page-header-device.png') no-repeat scroll;
    background-size: cover;
    z-index: 99999;
  }
}
